%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2016 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

%%
%% Adding 'debug_info' in a profile overrides 'no_debug_info'.
%%
{erl_opts, [
    no_auto_import,
    no_debug_info,
    warn_bif_clash,
    warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_missing_spec_all,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_import,
    warn_unused_record,
    warn_unused_vars,
    warnings_as_errors
]}.

{cover_enabled, true}.

{edoc_opts, [
    {preprocess,    true},
    {macros,        [{'EDOC', true}]},
    {app_default,   "http://www.erlang.org/doc/man"}
]}.

{eunit_opts, [verbose]}.

{profiles, [
    %%
    %% This is the default when built as a dependency (plugin).
    %%
    {prod, [
        {erl_opts, [
            {d, 'BRT_PROD'}
        ]}
    ]},
    %%
    %% For Dialyzer and Xref.
    %%
    {check, [
        {erl_opts, [
            debug_info,
            {d, 'BRT_CHECK'}
        ]},

        {dialyzer, [
            {warnings, [
                error_handling,
                race_conditions,
                unknown,
                unmatched_returns
            ]},
            {plt_extra_apps, [
                certifi,
                getopt,
                providers,
                public_key,
                rebar,
                ssl_verify_fun
            ]}
        ]},

        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]},

        %% For efficiency in production use, we only have a dependency on rebar
        %% itself in this profile.
        {deps, [
            {rebar,
                {git, "https://github.com/erlang/rebar3.git",
                {branch, "master"} }}
        ]},

        {overrides, [
            {add, certifi,          [{erl_opts, [debug_info]}]},
            {add, getopt,           [{erl_opts, [debug_info]}]},
            {add, providers,        [{erl_opts, [debug_info]}]},
            {add, rebar,            [{erl_opts, [debug_info]}]},
            {add, ssl_verify_fun,   [{erl_opts, [debug_info]}]}
        ]}
    ]},
    %%
    %% Source analysis only, no beams produced.
    %%
    {validate, [
        {erl_opts, [
            strong_validation,
            {d, 'BRT_VALIDATE'}
        ]}
    ]}
]}.
