%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2016-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

%%
%% This is the basis of the default rebar.config file.
%%
%% This file is read as Erlang terms. As such, no comments or formatting are
%% passed through to the file being created.
%%
%% It's best NOT to include any plugins or dependencies here, as they'll be
%% added programatically and there are scenarios where Bad Things could happen.
%%
%% The Erlang compiler documentation is incomplete, so the definitive reference
%% on warn/nowarn options is the source of the erl_lint:start/2 function in
%% stdlib.
%% Each option has warn_xxx and nowarn_xxx forms.
%% As of OTP 20, the defaults are:
%%
%%  nowarn_export_vars
%%  nowarn_missing_spec         <== exported functions only
%%  nowarn_missing_spec_all     <== all functions
%%  nowarn_untyped_record
%%  nowarn_unused_import
%%  warn_bif_clash              <== nowarn illegal in OTP-19+
%%  warn_deprecated_function
%%  warn_deprecated_type
%%  warn_export_all
%%  warn_obsolete_guard
%%  warn_shadow_vars
%%  warn_unused_function
%%  warn_unused_record
%%  warn_unused_vars
%%
%% Given a list of options to the compiler, the last warn/nowarn option is
%% effective (requires Rebar3 v3.3.3 or above).
%%

{erl_opts, [
    % TODO: remove these when we only target OTP-18+.
    % For compatibility with our current R16+ codebase.
    % Many of these share the same patterns, but are separated
    % for readability and searching in code.
    {platform_define, "^(R|17)",  'NO_CONTRACT_OVERLOAD'},  % -spec f(A) -> B ; (Y) -> Z.
    {platform_define, "^(R|17)",  'NO_ERLANG_TIMESTAMP'},   % erlang:timestamp/0
    {platform_define, "^R",       'NO_MAP_TYPE'},           % #{}
    {platform_define, "^(R|17)",  'NO_MONOTONIC_TIME'},     % erlang:monotonic_...
    {platform_define, "^R",       'NO_NAMESPACED_TYPES'},   % M:T(...)
    {platform_define, "^(R|17)",  'NO_ORDDICT_2'},          % orddict:orddict(K, V)
    {platform_define, "^(R|17)",  'NO_RAND_MODULE'},        % rand/random

    % no_auto_import,
    no_debug_info,
    warn_bif_clash,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
]}.

{profiles, [
    %
    % For Dialyzer and Xref.
    %
    {check, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'BASHO_CHECK'}
        ]},

        {dialyzer, [
            {warnings, [
                error_handling,
                race_conditions,    % do we dare enable this?
                unknown,
                unmatched_returns
            ]}
        ]},

        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]}
    ]},
    %
    % Default profile when building docs.
    %
    {docs, [
        {edoc_opts, [
            {app_default,   "http://www.erlang.org/doc/man"},
            {preprocess,    true},
            {macros,        [
                {'EDOC',        true},
                {'BASHO_DOCS',  true}
            ]}
        ]}
    ]},
    %
    % Default profile when built as a dependency.
    %
    {prod, [
        {erl_opts, [
            % no_debug_info,
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    %
    % Default profile when running EUnit or Common Test.
    %
    {test, [
        {erl_opts, [
            debug_info,
            nowarn_deprecated_function,
            nowarn_export_all,
            nowarn_unused_function,
            warnings_as_errors,
            {d, 'BASHO_TEST'}
        ]},
        {cover_enabled, true}
    ]},
    %
    % Source analysis only, no beams produced.
    %
    {validate, [
        {erl_opts, [
            strong_validation,
            % we'd like most of these to be global
            no_auto_import,
            warn_bif_clash,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_missing_spec,
            warn_missing_spec_all,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warn_unused_record,
            warn_unused_vars,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.
