%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2016 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

%%
%% This is the default BRT configuration.
%% The local brt.config file, if present, is merged with these settings such
%% that local settings take precedence.
%%

%
% You almost certainly don't want to change this here - override it in the
% local brt.config file.
%
{'default_repo_version',    {'branch', "develop"}}.

%
% The 'force' section allows inclusion of packages that would not be identified
% by xref or other means into the top-level project's dependencies.
% It is never applied recursively to the project's dependencies.
% This section should NEVER be populated in the defaults file, and should be a
% last resort anywhere else, though until some functionality is fully fleshed
% out it will be needed for the Riak umbrella package (which is why it's here).
%
{'force', [
]}.

%
% The 'rebar_config' section contains terms that are inserted into generated
% rebar.config files, replacing pre-existing values indiscriminately.
% This section should NEVER be populated in the defaults file!
%
{'rebar_config', [
    %
    % Use 'checkouts_dir' to override Rebar's default checkouts directory.
    % The primary use case for this is when operating on a pre-existing Rebar2
    % working tree where all dependencies are in the "deps" directory. In this
    % case the example setting below allows Rebar3 to work with the tree in a
    % fairly transparent manner.
    %
    % Unfortunately, this value can only be relative, not absolute, and is
    % joined to the root directory of the application currently being
    % processed, so things can get tricky with recursive operations.
    %
    % {'checkouts_dir', "deps"}
]}.

%
% The 'versions' section allows specification of a non-default version
% (branch/tag/commit) to use of the named package.
% Ignored if the package appears in the 'deps' section.
%
{'versions', [
    {'basho_rebar_tools',   {'branch', "develop"}},
    {'cuttlefish',          {'branch', "develop"}},
    {'eunit_formatters',    {'branch', "master"}},
    {'rebar_raw_resource',  {'branch', "master"}}
]}.

%
% The 'repos' section allows specification of a non-default repository
% from which to obtain the named package.
% Each package is mapped to either an atom representing an alternate repository
% name (the first atom is an alias for the second) or a string containing a
% non-default repository URL.
% Ignored if the package appears in the 'deps' section.
%
{'repos', [
    % TODO: Remove these when they're in Basho's repo.
    {'basho_rebar_tools',
        "https://github.com/tburghart/basho_rebar_tools.git"},
    {'rebar_raw_resource',
        "https://github.com/tburghart/rebar_raw_resource.git"}
]}.

%
% The 'deps' section allows overriding the entire dependency specification of
% a package, overriding defaults and entries for the package in the 'repos'
% and/or 'versions' sections.
% Raw resources, in particular, must be specified here.
%
{'deps', [
]}.

%
% When an application depends on an element in this section, the associated
% options are added to the relevant rebar.config 'erl_opts' list.
%
{'dep_erl_opts', [
    {'lager',               [{'parse_transform', 'lager_transform'}]}
]}.

%
% When an application depends on an element in this section, the associated
% plugins are added to its rebar.config.
%
{'dep_plugins', [
    {'eleveldb',            ['rebar_raw_resource']}
]}.

%
% Warning:
%   I don't like how this works and I'm likely to change it, but it's a low
%   priority for now.
%
% Dependencies in the 'raw' section are wrapped in the 'raw' resource type
% (unless they're specified in the 'deps' section, which takes precedence)
% and the 'rebar_raw_resource' provider is added to the including application's
% rebar.config plugins.
%
{'raw', [
    'leveldb', 'leveldb_ee', 'snappy'
]}.

%
% Think very hard before changing any of the following ...
%
{'default_repo_format', "https://github.com/basho/~s.git"}.
{'default_repo_type',   'git'}.
{'nested_merge_sects',  [
    'dep_erl_opts', 'dep_plugins', 'deps', 'repos', 'versions'
]}.
{'no_inherit',          ['force']}.
