{description,   "Default .gitignore file for Erlang with NIF(s)."}.
{template,      "defaults/gitignore-native", ".gitignore"}.
{variables,     [{name, "nif-file-name", "Base name of the generated NIF library."}]}.
